# Compiled output
/dist
/build
.next
.sonar/
.sonarqube/
.scannerwork/
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# OS
.DS_Store

# Tests and coverage
/coverage
/.nyc_output
lib-cov

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependency directories
/node_modules/
bower_components
jspm_packages/

# Typescript v1 declaration files
typings/

# Temporary and cache directories
.temp
.tmp
.npm
.eslintcache

# Optional files
.node_repl_history
.yarn-integrity
*.tgz

# Environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Grunt intermediate storage
.grunt

# Binary addons and build artifacts
build/Release
.lock-wscript

# Output of 'npm pack'
*.tgz

# Auxiliary data and reports
data
junit.xml
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# SonarQube
.sonar/
.sonarqube/
.scannerwork/
.sonarlint/

# Next.js build output
.next

# Documentation and test outputs
docs/
